body{
    line-height: 1.5em;
}
.align-center{
    text-align: center !important;
}
.search{
    text-align: center;
    margin-top: 25vh;
}
.error{
    padding-top: 20px;
}
.vit-info-container{
    display: flex; 
    justify-content: center; 
    width: 100%;
}
.vit-info{
    text-align: left;
    padding-top: 70px;
}
.vit-name{
    padding-bottom: 20px;
}
.vit-padding{
    padding-top: 20px;
}
.vitamin-list{
    display: none;
}
ul{
    list-style: none;
}
.column-1 {
    float: left;
    width: 50%;
  }
  .column-2 {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }